[Unit]
Description=Jenkins

[Service]
EnvironmentFile=/etc/default/jenkins
User=jenkins
Group=jenkins
ExecStart=/usr/bin/java ${JAVA_ARGS} -jar ${JENKINS_WAR} ${JENKINS_ARGS}

[Install]
WantedBy=multi-user.target
